@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    
    
    
    
    
    <div class="row">
        @*<div class="col-md-4">

            <div class="container">
                <div class="row">
                    <div class="page-header">
                        <h1>Kale's bank Account</h1>
                    </div>                    
                </div>
                <div class="row">
                     <b> $MyBalnace</b>
                </div>
            </div>
        </div>*@
        
        <div class="col-md-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="page-header">
                        <h1>Kale's Bank </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="page-header">
                        <p style="font-size:large">Welcome, Sachin Kale</p>
                    </div>
                    <div>
                        <b>Account Number: 1006</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="page-header">
                            <p>Avaiable balance</p>
                        </div>
                        <div>
                            <b>$Mybalance</b>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="page-header">
                            <p>Present Balance</p>
                        </div>
                        <div>
                            <b>$MyBalance</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="page-header">
                    <b>Statements</b>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>9 Nov</td>
                                <td>2000 bay area blvd</td>
                                <td>Debit/td>
                                <td>-100</td>
                                <td>500</td>
                            </tr>
                        </tbody>
                     </table>
                </div>
            </div>
        </div>
    </div>

</div>